{% extends "base.html" %}

{% block title %}Confirm{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<div class="container col-lg-6">
    <h1>Confirm Application Authorization</h1>
    <p class="lead">
      Please confirm that you wish to authorize {{application_name}} for the following (TBC).
    </p>
    <form role="form" method="POST" action="{{base_url}}/authorize">
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

{% endblock %}
