{% extends "base.html" %}

{% block title %}Registration{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<div class="container col-lg-6">
    <h1>New Registration</h1>
    <form role="form" method="POST" action="{{base_url}}/register">
        <div class="form-group">
            <label for="application_name">Application Name</label>
            <input type="text" class="form-control" id="application_name" name="application_name" placeholder="Application Name">
        </div>
        <div class="form-group">
            <label for="homepage_uri">Homepage URI</label>
            <input type="text" class="form-control" id="homepage_uri" name="homepage_uri" placeholder="Homepage URI">
        </div>
        <div class="form-group">
            <label for="name">Application Description</label>
            <textarea rows="4" cols="50" class="form-control" id="application_description" name="application_description" placeholder="Application Description"></textarea>
        </div>
        <div class="form-group">
            <label for="callback_uri">Callback URI</label>
            <input type="text" class="form-control" id="callback_uri" name="callback_uri" placeholder="Callback URI">
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>

{% endblock %}
